/* Global */
:root {
	color-scheme: dark;
	color: lightgray;
	font-family: "Verdana", sans-serif, system-ui;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
	color: #fff;
}
h1 {
	margin-top: 0px;
}

/* Links */
a {
	color: #0ff;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	color: #fff;
}
a:visited {
	color: #f0f;
}

/* Other */
hr {
	border-top: none;
	border-right: none;
	border-bottom: 1px solid lightgray;
	border-left: none;
}
